.add-package form {
  width: 400px;
  border: 2px solid green;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
  color: red;
}
.add-package form input {
  margin: 6px;
}
.package-btn {
  background-color: #156e36;
  border-color: #156e36;
  color: #fff;
}
@media only screen and (max-width: 653px) {
  .add-package form {
    width: 200px;
  }
}
