/*about bangladesh start*/
#about {
  margin: 80px 0;
}
.all-header {
  font-weight: 700;
  font-size: 40px;
  color: #156e36;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.read {
  color: #156e36;
  border-color: #fff;
  border: 1px solid #156e36;
}
.read:hover {
  color: #fff;
  background-color: #156e36;
  border-color: #156e36;
}
.read {
  padding: 5px 8px;
}

/*  */
